.padding-actions {
    padding: 10px 15px !important;
}

.mat-dialog-header {
    background-color: #171D29FF;
    color: #FFFFFF;
    font-weight: 500;
    max-height: 52px !important;
    min-height: 52px !important;
}

.mat-dialog-content {
    margin: 0;
    padding: 20px;
}

mat-dialog-actions {
    margin-bottom: 0 !important;
    padding: 8px 8px 24px 8px !important;
}

mat-card {
    margin: 10px;
    background-color: #e3d6f5;
}
