<mat-toolbar class="mat-dialog-header" fxLayoutAlign="space-between center">
    <span class="flex-auto ml-2">Editar meus dados</span>
    <button mat-icon-button id="close" [mat-dialog-close]="false" tabindex="-1">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="formGroup">
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="16px">
            <mat-form-field fxFlex>
                <mat-label>Nome</mat-label>
                <input matInput type="text" formControlName="name" required>
                <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>

            <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                <mat-form-field fxFlex>
                    <mat-label>Usuário</mat-label>
                    <input matInput type="text" formControlName="username" required>
                    <mat-error *ngIf="formGroup.get('username')?.hasError('required')">
                        Campo obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Senha</mat-label>
                    <input matInput type="text" formControlName="password">
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput type="text" maxlength="256" formControlName="email" required>
                <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
                    Campo obrigatório
                </mat-error>
                <mat-error *ngIf="formGroup.get('email')?.hasError('email') && !formGroup.get('email')?.hasError('required')">
                    Insira um e-mail válido
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
                <mat-label>Rua</mat-label>
                <input matInput type="text" formControlName="street" required>
                <mat-error *ngIf="formGroup.get('street')?.hasError('required')">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>

            <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                <mat-form-field fxFlex>
                    <mat-label>Número</mat-label>
                    <input matInput type="text" formControlName="number" required>
                    <mat-error *ngIf="formGroup.get('number')?.hasError('required')">
                        Campo obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Cep</mat-label>
                    <input matInput type="text" formControlName="zip_code" required>
                    <mat-error *ngIf="formGroup.get('zip_code')?.hasError('required')">
                        Campo obrigatório
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field fxFlex>
                <mat-label>Bairro</mat-label>
                <input matInput type="text" formControlName="neighborhood" required>
                <mat-error *ngIf="formGroup.get('neighborhood')?.hasError('required')">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
                <mat-label>Cidade</mat-label>
                <input matInput type="text" formControlName="city" required>
                <mat-error *ngIf="formGroup.get('city')?.hasError('required')">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="8px" class="padding-actions" *ngIf="!object?.id">
    <button class="w-auto" mat-stroked-button id="cancel" type="button" (click)="close()">
        Cancelar
    </button>
    <button mat-raised-button type="submit" (click)="saveCustomer()" [disabled]="!formGroup.valid" >
        Salvar
    </button>
</mat-dialog-actions>
